.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
div > img {
	margin: 1.5rem;
	border-radius: 10px;
	width: 28vw;
	display: flex;
	animation: bounce;
	animation-duration: 2s;
}

@media all and (max-width: 900px) {
	.gallery {
		flex-direction: column;
	}
	div > img {
		width: 80vw;
		margin: 0.5rem;
	}
}