.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
div > img {
	margin: 1.5rem;
	border-radius: 10px;
	width: 50vw;
	display: flex;
}

@media all and (max-width: 900px) {
	.gallery {
		flex-direction: column;
	}
}