/* 
#c081ff - violet
#86ffe9 - aqua
#84ffad - green
*/

:root {
	--bg-color: #423E37;
	--main-color: #423E37;
	--secondary-color: #E3B23C;
	--tertiary-color: #EDEBD7;
}

* {
	font-family: 'Proxima Nova', sans-serif;
	transition: 0.3s;
	scroll-behavior: smooth;
}

*::selection {
	background-color: var(--secondary-color);
	color: white;
}

html {
	/*scroll-behavior: smooth;*/
	background-image: url("flowers.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

body {
	
	margin: 0; /* If you delete it, max hv will not be 100hv */
	/*margin: 0px 18% 0px 18%;*/
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
	display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.example {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

