:root {
	--bg-color: #423E37;
	--main-color: #423E37;
	--secondary-color: #E3B23C;
	--tertiary-color: #EDEBD7;
}

#introduce {
	background: no-repeat center center;
	background-color: var(--main-color);
	height: 90vh;
	z-index: 1;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0;
	justify-content: space-around;
}

.align-row {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-self: center;
}

.align-row > div > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}
