:root {
	--bg-color: #423E37;
	--main-color: #423E37;
	--secondary-color: #E3B23C;
	--tertiary-color: #EDEBD7;
}

#introduce {
	background: no-repeat center center;
	background-color: var(--main-color);
	height: 90vh;
	z-index: 1;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0;
	justify-content: space-around;
}

.align-column {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}