:root {
	--bg-color: #423E37;
	--main-color: #423E37;
	--secondary-color: #E3B23C;
	--tertiary-color: #EDEBD7;
}

#introduce {
	background: no-repeat center center;
	background-color: var(--main-color);
	height: 90vh;
	z-index: 1;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0;
	justify-content: space-around;
}

.align-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	text-align: center;
}

div > img {
	width: 400px;
    height: 400px;
    margin: 1.5rem;
    border-radius: 50%;
    float: right;
    background-color: black;
    display: flex;
}


@media all and (max-width: 900px) {
	#introduce {
		flex-direction: column;
		justify-content: none;
		height: 90vh;
		width: 100%;
	}

	.align-row {
		flex-direction: column;
		width: 80vw;
		height: auto;
	}
	.align-row > div > img {
		width: 70vw;
		height: auto;
	}

}
