:root {
	--bg-color: #423E37;
	--main-color: #423E37;
	--secondary-color: #E3B23C;
	--tertiary-color: #EDEBD7;
}

.container {
	/*background: linear-gradient(90deg, #8f0094bd, #006956b2, #005e10b2);*/
	background-color: var(--main-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	padding-left: 30px;
	padding-right: 30px;
	color: beige;
	text-shadow: 0 0 2px #000000;
}

#branding {
	font-family: 'Open Sans', sans-serif !important;
	font-size: small;
}

.highlight {
	color: var(--secondary-color);
}

.highlight:hover {
	color: #00e20b;
}

.navbar {
	display: flex;
	padding-left: 30px;
}

[href] {
	color: var(--tertiary-color);
	text-decoration-line: none;
	
}
nav > [href]:hover {
	color: var(--secondary-color);
	text-decoration: overline underline 1px;
	text-underline-offset: 5px;
}

nav > a {
	display: inline;
	min-width: 75px;
}

a {
	display: inline;
	min-width: 75px;
}

h1 {
	color: beige;
}